body	{
	background-color:#E0FFFF;
}

h3	{
	color:#007FFF;
}

h4	{
	color:#1E90FF;
}

nav > ul {
    background-color: white;
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
	font-size: 1.2rem;
    text-decoration: none;  /* 移除超連結底線 */
	padding: 10px;
}

nav a:hover {
    background-color:#7D7DFF;
    color: white;
}

.flex-nav {
    display: flex;
}