body	{
	background-color:#E0FFFF;
}

h3	{
	color:#007FFF;
}

h4	{
	color:#1E90FF;
}

nav > ul {
    background-color: white;
    list-style: none;   
    margin: 0;
    padding: 0;
}
nav a {
    color: inherit; 
    display: block; 
	font-size: 1.2rem;
    text-decoration: none;
	padding: 10px;
}

nav a:hover {
    background-color:#7D7DFF;
    color: white;
}

.flex-nav {
    display: flex;
}